/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
  
  }
  .red1 { 
    width: 100%; 
    height: 100px; 
    background-color: red; 
    grid-column: 1/3;
  
  } 
  .green1 {
    width: 200px; 
    height: 200px; 
    background-color: green; 
  
  } 
  .yellow1 {
    width: 200px; 
    height: 200px; 
    background-color: gold; 
  } 
  .blue1 {
    width: 100%; 
    height: 100px; 
    background-color: blue; 
    grid-column: 1/3;
  } 
  /* Activity 2 styles */ 
  .content2 {
    grid-gap: 20px;

  }
  .red2 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
  } 
  .green2 { 
    width: 100px; 
    height: 100px; 
    background-color: green; 
    position: relative;
    left: 50px;
    top: -50px;
  } 
  .yellow2 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
    position: relative;
    left: 100px;
    top: -100px;
  } 
  .blue2 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
    position: relative;
    left: 150px;
    top: -150px;
  } 
  /* Activity 3 styles */ 
  .content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .red3 {
    width: 100%; 
    height: 100px; 
    background-color: red; 
    grid-column: 1/3;
  } 
  .green3 {
    width: 95%; 
    height: 100px; 
    background-color: green;
    position: relative;
    left: -2.5%;
  } 
  .yellow3 {
    width: 95%; 
    height: 100px; 
    background-color: gold; 
    position: relative;
    right: -2.5%;
    
  } 
  .blue3 {
    width: 100%;
    height: 100px; 
    background-color: blue; 
    grid-column: 1/3;
  } 
  /* Activity 4 styles */ 
  .content4 {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
    
  }
  .red4 {
    width: 270px; 
    height: 150px; 
    background-color: gold; 
    grid-column: 5/span 2;
    grid-row: 5/span 2;
    position: relative;
    left: -9.5%; 
    top: 6%;
    z-index: 1; 
    
    
  } 
  .green4 {
    width: 270px; 
    height: 150px; 
    background-color: blue;
    grid-column: 2/span 4;
    grid-row: 2/span 4;
    top: 88%;
    position: relative;
    left: 70.7%;
    z-index: 1;
     
  } 
  .yellow4 {
    width: 310px; 
    height: 432.6px; 
    background-color: red; 
    grid-column: 5/span 2;
    grid-row: 5/span 2;
    position: relative;
    left: -105%; 
    top: -25.5%;
    z-index: 1; 
  } 
  .blue4 {
    width: 270px; 
    height: 150px; 
    background-color: green;
    grid-column: 3/span 2;
    grid-row: 3/span 2;
    position: relative;
    left: 91.9%; 
    top: 26.7%; 
  } 
  /* Activity 5 styles */ 
  .content5 {
    /* This is the parent of the activity 5 boxes. */
    height: 400px;
  }
  .red5 { 
    width: 100%; 
    height: 100px; 
    background-color: red; 
    position: relative;
    top: -25.5%;
  } 
  .green5 { 
    width: 150px; 
    height: 150px; 
    background-color: green; 
    z-index: 1;
    position: relative;
    float:left;
    top: -25.5%;
    
   
  
  } 
  .yellow5 {
    width: 100%; 
    height: 197px; 
    background-color: yellow; 
    grid-column: 5/span 2;
    grid-row: 5/span 2;
    position: relative;
    top: -25.5%;
    
    
    
      
  
  } 
  .blue5 {
    width: 100%; 
    height: 100px; 
    background-color: blue;
    position: relative; 
    top: -25.5%;
  } 
  /* Activity 6 styles */ 
  .content6 {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
  
  }
  .red6 {
    width: 350px; 
    height: 200px; 
    background-color: red;
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    position: relative;
    left: -5%;
  } 
  .green6 {
    width: 250px; 
    height: 200px; 
    background-color: green;
    grid-column: 2/span 4;
    grid-row: 2/span 4;
    top: 55%;
    position: relative;
    left: -30%;
    z-index: 1;

  } 
  .yellow6 {
    width: 200px; 
    height: 480px; 
    background-color: gold; 
    grid-column: 5/span 2;
    grid-row: 5/span 2;
    position: relative;
    left: -190%; 
    top: -77%;
    z-index: 1;
    
  } 
  .blue6 {
    width: 400px; 
    height: 400px; 
    background-color: blue;
    grid-column: 3/span 2;
    grid-row: 3/span 2;
    position: relative;
    left: -65%; 
    top: -10%;
  } 
  
  
  /* Do not make any changes below here */
  .activity {
    width: 70%; 
    margin: 20px auto; 
    font-family: Arial, sans-serif; 
    border: 1px solid black; 
    padding: 10px; 
    clear:both; 
    overflow: auto;
  } 
  
  .hint {
    border: 1px solid grey;
    background: #e0e0e0;
    padding: .5em;
    position: relative;
    margin: 1em 0;
  }
  .hint h3 {
    margin: 0;
  }
  .hint:hover {
    background: #d0d0d0;
  }
  .hint > div {
    display: none;
  }
  
  .hint input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  
  .hint input[type=checkbox]:checked ~ div {
    display: block;
  }
  
  .hint i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 10px;
    top: -3px;
  }
  .hint i:before, .hint i:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px;
  }
  .hint i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  .hint i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  .hint input[type=checkbox]:checked ~ i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .hint input[type=checkbox]:checked ~ i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  .hint a {
    position: relative;
    z-index: 1;
  }