#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #fcfbfb;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

nav a{
    text-align: center;

}

#hero-msg{
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(7, 240, 162);
}

h2{
    margin: 0;
}

#hero-msg{
    text-align: center;
}

h4{
    text-align: center;
}

.button-box{
    text-align: center;
    
}

#hero-img{
    width: 100%;
}

section{
    text-align: center;
}

#background{
    height: 725px;
}

body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgb(9, 75, 9);
}
nav a:hover {
    background-color:  greenyellow;
}

#logo_link{
    padding-top: 5px;
}

nav a{
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

.book{
    background-color:  rgb(27, 233, 164);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    background-color: greenyellow;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}

.msg h2{
    font-size: 30px;
    color: white;
}
.home-title{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.book:hover{
    background-color: rgb(55, 181, 240);
}
.join:hover{
    background-color: rgb(253, 248, 253);
}
#background{
    background-color: rgb(27, 233, 164);
}
.msg{
    background-color: rgb(27, 233, 164);
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: rgb(175, 174, 174);
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}

a{
    text-decoration: none;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

nav a{
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

.mountains{
    text-align: right;
}

footer .social img {
    padding-top: 15px;
}  

.card-img{
    border: 10px solid rgb(18, 231, 100);
}

main section img {
    box-sizing: border-box;
}