*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10%;
    background-color: rgb(39, 38, 38);
    width: 40%;
}

.contact-box{
    height: 60vh;
    background-color: wheat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
}

.container .Image img{
    width:90%;
    height: 50%;
    /* object-fit: cover; */
}