*{
    margin: 0;
    padding: 0;
}
.background-Image{
    background-image: url('./Afi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.image-overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 37, 14, 0.5);

}
.image-overlay:hover{ 
    opacity: 0.9;

}

.logo:hover{
    opacity: 0.4;
    transform: scale(1.1);
    
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding-top: 10px;
}

.logo{
    padding-top: 5px;
    width: 100%;
    height: 100%;
    
}

.logo-container{
    grid-column-start: 2;
    grid-column-end: 3;
}



.header-1 h1{
    color: rgb(4, 154, 192);
}

.header-1:nth-child(2){
    grid-column-start: 4;
    grid-column-end: 7;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    position: relative;
    top: 70%;
}

.header-2 p{
    color: orange;
}
.header-2:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
    position: relative;
    left: 20%;
}

.home a, .business a, .recipe a, .login a{
    color: wheat;
    text-decoration: none;
}
.home:nth-child(4){
    grid-column-start: 9;
    grid-column-end: 10;
    
}

.business:nth-child(5){
    grid-column-start: 10;
    grid-column-end: 11;
    
 
}

.recipe:nth-child(6){
    grid-column-start: 11;
    grid-column-end: 12;
   
}

.login:nth-child(7){
    grid-column-start: 12;
    grid-column-end: 13;
    
}
