*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}
.background-Image{
    background-image: url('./Afi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.image-overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 37, 14, 0.5);
}
.image-overlay:hover{ 
    opacity: 0.9;

}

.logo:hover{
    opacity: 0.4;
    transform: scale(1.1);
    
}

.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    position: fixed;
    z-index: 10;
    padding-top: 5px;
    background-color: rgb(2, 41, 8);
    box-shadow: 0 2px 4px white;
    border-bottom: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
}

.logo{
    padding-top: 30px;
    width: 90%;
    height: 70%;
    
}

.logo-container{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}



.header-1 h1{
    color: #9ef01a;
}

.header-1:nth-child(2){
    grid-column-start: 4;
    grid-column-end: 7;
    position: relative;
    top: 70%;
}

.header-2 h3{
    color: orange;
}
.header-2:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
    position: relative;
    left: 12%;
    top: 15%;
}

.home a, .business a, .recipe a, .login a{
    color: wheat;
    text-decoration: none;
}

.home a:hover, .business a:hover, .recipe a:hover, .login a:hover{
    color: rgb(247, 243, 238);
    text-decoration: none;
}

.home:nth-child(4){
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 80%;  
}

.business:nth-child(5){
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 80%;
}

.recipe:nth-child(6){
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 80%;  
}

.login:nth-child(7){
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top: 80%;
}

.banner img{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.content{
    height: 5%;
    width: 100%;
    background-color: white;
    color: #9ef01a;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 4px rgb(2, 41, 8);
}
.content h3{
    color: rgb(2, 41, 8);
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.Body123{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2%;
    padding-left: 2%;
}
hr{
    padding-bottom: 10%;
}

.Body-Image-1{
    left: 10%;
}

.Body-Image-2{
    left: -30%;
}

.Body-Image-3{
    left: -70%;
}

.Body-Image-4 h3, .Body-Image-4 p{
    padding-top: 5%;
}

.Body-Image-4 h3{
    background-color: rgb(2, 41, 8);
    color: #9ef01a;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
.Body-Image-4 p{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 4%;
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.Body-Image-1 img, .Body-Image-2 img, .Body-Image-3 img{
    width: 70%;
    height: 80%;
}

.Body123 .Body-Image-1 img,
.Body123 .Body-Image-2 img,
.Body123 .Body-Image-3 img{
    border-radius: 7%;
    height: 150%;
    width: 50%;
    box-shadow: 5px 0 8px wheat;
}

.Body-Image-1, .Body-Image-2, .Body-Image-3{
    position: relative;
}

.overlay1, .overlay2, .overlay3{
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    background-color: rgb(247, 243, 238);
    overflow: hidden;
    height: 150%;
    width: 50%;
    transform: scale(0);
    transition: .3s ease;
    opacity: 0.9;
    border-radius: 7%;
}

.Body-Image-1:hover .overlay1, 
.Body-Image-2:hover .overlay2, 
.Body-Image-3:hover .overlay3{
    transform: scale(1);
}

.text, .text1, .text2, .text3{
    color: rgb(2, 41, 8);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .image-one, .image-two, .image-three{
    width: 100%;
    height: auto;
  }

  .bottom-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2%;
    padding-left: 15%;
    padding-bottom: 2%;
    background-color: rgb(247, 243, 238);
  }

  .bottom-1 h3, .bottom-2 h3, .bottom-3 h3{
    background-color: rgb(2, 41, 8);
    color: #9ef01a;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}

.bottom-1 p, .bottom-2 p, .bottom-3 p{
    padding-top: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

  footer{
    background-color: rgb(2, 41, 8);
    color: #9ef01a;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  footer p{
    padding-top: 0.3%;
    padding-bottom: 0.3%;;
    text-decoration: none;
  }

  footer p a{
    color: rgb(247, 243, 238);
    text-decoration: none;
  }

footer p a:hover{
        color: #9ef01a;
    }


.Body-Image-1 .youtube1, .Body-Image-2 .youtube2, .Body-Image-3 .youtube3{
    padding-top: 3%;

}

.Body123 .youtube1 a{
    left: 1%;
    color: rgb(247, 243, 238);
    position: absolute;
    background-color: rgba(2, 37, 14, 0.5);
    padding-top: 2%;
    width: 45%;
    text-align: center;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.Body123 .youtube2 a{
    left: 1%;
    color: rgb(247, 243, 238);
    position: absolute;
    background-color: rgba(2, 37, 14, 0.5);
    padding-top: 2%;
    width: 45%;
    padding-bottom: 2%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.Body123 .youtube1 a:hover{
    background-color: rgb(2, 41, 8);
}

.Body123 .youtube2 a:hover{
    background-color: rgb(2, 41, 8);
}

.Body123 .youtube3 a:hover{
    background-color: rgb(2, 41, 8);
}




.Body123 .youtube3 a{
    left: 1%;
    color: rgb(247, 243, 238);
    position: absolute;
    background-color: rgba(2, 37, 14, 0.5);
    padding-top: 2%;
    width: 45%;
    padding-bottom: 2%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 480px){
    footer{
        background-color: red;
    }
    .nav-container{
        display: block;
        width: 100%;
        text-align: center;
    }

    .logo-container{
        width: 10%;
        margin: auto;

    }

    .header-1{
        text-align: center;
    }

    .header-2{
        display: block;
        text-align: center;
        position: static;
        top: 0px;
        left: -12%;
    }

    .Body123{
        /* display: block; */
        width: 100%;
        text-align: center;
    }
}
