*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear-gradient(to right, white 0%, white 50%, grey 50%, grey 100%);
    
}

h1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
}

p{
    color: rgb(88, 8, 8);
    text-align: right;
    top: 50%;
    left: 50%;
    transform: translateY(2%);
    text-align: center;
    position: absolute;
    font-size: 80px;
    margin: 20%;
}


